/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0  ;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.card-subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
   
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}


/*rajout premier jet header*/

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

header img {height: 19px;padding: 30px 50px 30px 50px;}

header ul {
    display: flex;
    list-style-type: none;
    gap: 68px;
}
a:hover {color: #0065FC;}

/* a {
    padding-top: 4px;
    position: relative;
}

a:hover::before {
    content: "";
    position: absolute;
    color: #0065FC;
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    } */


    /*début modif zone de recherche*/


h2 {
   
    display: flex;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 700;
}

span {
    size: 16px;
    display: flex;
    margin-bottom: 24px;
}

form.modifrecherche {
    display: flex;
}

button.geo-button {
    border: 1px;
    border-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 49px;
}


input[type="search"]::placeholder {color: black;
font-weight: 700;
size: 18px;
text-align: center;
}

button {
    border: 1px;
    border-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
}
button.btn {
    background-color: #0065FC;
    width: 132px;
    height: 49px;
    color: white;
    font-weight: 700 ;
    size: 18px;
    }
   
    
    input[type="search"] {    width: 147px;
    text-align: center;
    border: 1px;
    border-color: #F2F2F2;}

    


/*filtre*/

section.zonecherchable {
    gap: 35px;
    display: flex;
    flex-direction: column;
}
 
form.Filtre {
    display: flex;
    gap: 10px;
}


.Filtre label {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 1;
    border-width: 2px;
    gap: 10px;
    border-radius: 35px;
    padding-top: 4px;
    padding-right: 19px;
    padding-bottom: 4px;
    padding-left: 19px;
    border: 2px solid #D9D9D9;
    height: 50px;
    
}
.Filtre label:hover {
background-color: #DEEBFF
}

.Filtre input[type="radio"] {
  display: none;
}

.Filtre span {
    margin-bottom: 0    ;
    font-weight: 700    ;
    font-size: 17px;
}

.infobar {
    margin-bottom: 40px;
}

p {
    display: flex;
    align-items: center;
font-size: 18px;
font-weight: 700    ;}




   .infobar {
    display: flex;
    gap: 10px;
}

.infobar img {width: 24px;height: 24px;}

.inforbar span {
    font-weight: 400;
    font-size: 16px;
}


/*herbergements*/




.hebergements img {
    width: 250.33px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}


.hébergements-cards {
   
    opacity: 1;
    gap: 30px;
    padding: 30px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
   
    
}
h3 {
    font-weight: 700;
    font-size: 18px;
}
/*  POUR LIEN CLIQUABLE
.afficher-plus {
  display: inline-block;
  font-size: 18px; 
  font-weight: 700;
  text-decoration: none; 
  color: inherit; 
  cursor: pointer; 
  transition: color 0.2s ease;
}